.wrapper{
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}
.header{
    background-color: red;
    height: 100px;
}
#top{
    background-color: yellow;
    height: 500px;
    width: 250px;
    float: left;
}
#bottom{
    background-color: fuchsia;
    height: 500px;
    width: 250px;
    float: left;
    position: relative;
}
#right{
    background-color: blue;
    color: white;
    height: 500px;
    width: 250px;
    float: right;
    text-align: right;
}

#izquierda{
    background-color: green;
    color: black;
    height: 500px;
    width: 250px;
    float: right;
    position: relative;
    text-align: left;
}

#skyblue{
    background-color: skyblue;
    height: 300px;
    width: 500px;
    float: left;
}

#clearfix::after{
    content: "";
    clear: both;
    display: table;
}
.elem-position{
    position: absolute;
    bottom: 0px;
    right: 0px;
}